* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;

    width: 100vw;
    height: 100vh;

    display: flex;
}

.player {
    padding: 25px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    transition: flex-grow 300ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

.player.focus-field {
    flex-grow: 3;

    pointer-events: auto;
}

#separator {
    border-left: 3px solid gainsboro;
}

.board {
    width: 75%;
    max-width: 75vh;
    max-height: 75vh;
    aspect-ratio: 1 / 1;

    border: 1px solid slategray;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
}

.cell {
    border: 1px solid gainsboro;
    background-color: white;
}

.cell.active:hover {
    display: fixed;
    scale: 1.2;
}

.cell.active:active {
    scale: 0.9;

    transition: scale 50ms ease-in;
}

.cell.miss {
    background-color: slateblue;
}

.cell.hit {
    background-color: palevioletred;
}
